.bottom-page{
	background-color: #A77F62;
	padding: 10px;
	margin: 20px 0px;
}

.titles-bottom{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	list-style: none;
	color: white;
	padding-left: 80px;
}	

.icons-bottom{
	font-size: 30px;
	text-align: center;
	list-style: none;
	color: white;
	padding-left: 150px;
}

.bottom-page h3{
	text-align: left;
	color: white;
	padding-top: 70px;
	padding-left: 10px;
}

#logo i{
	font-size: 50px;
	color: white;
	padding-left: 10px;
}

#logo i:hover{
	color: #6BAD61;
}