.list-inline{
	list-style: none;
	margin-top: 10px;
	vertical-align: middle;
	padding-inline-start: 0px;
	display: flex;

}


.category{
	list-style: none;
	color: #A77F62;
	justify-content: space-between;
	margin: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}


#cart{
	height: 40px;
	width: 40px;
	position: absolute;
	right: 15px;
}

#logo{
	float: left;
}


