.recipe{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.recipes{
	width: 390px;
}


.recipes img{
	width: 250px;
	height: 250px;
	margin: 30px auto;
}

.desc{
	padding-top: 0px;
}


#link{
	text-align: right;
	padding-right: 100px;
	text-decoration: underline;
	color: #6BAD61;
	padding-top: 30px;

}


.desc a{
	color: #A77F62;
}

.desc a:hover{
	color: #6BAD61;
}
